<section class="border-bottom">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-white p-0 py-2">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a href="#" class="pr-3 border-right">
          <span class="material-icons">menu</span>
        </a>
        <a class="navbar-brand pointer" href="#">
          <img src="assets/logo.png"/>
        </a>
        <ul class="navbar-nav mr-auto ml-2 mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Devices</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Deivery & Payment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">Guarantee</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">About Us</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item mr-3">
            <span class="material-icons align-bottom">add_shopping_cart</span>
            <span>Cart <span class="badge-pill badge-light px-2 py-1">0</span></span>
          </li>
          <li class="nav-item">
            <a class="btn br-20 border px-3 text-uppercase" href="#">sign in</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>
<section class="border-bottom">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-white p-0">
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div class="collapse navbar-collapse justify-content-between" id="navbarTogglerDemo01">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-uppercase" href="#">top sales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase" href="#">brand focus</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase" href="#">hi-tech</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase" href="#">best sellers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase" href="#">projects</a>
          </li>
        </ul>
        <ul class="navbar-nav mt-2 mt-lg-0">
          <li class="nav-item p-2 active">
            <a class="nav-link text-uppercase" href="#">support</a>
          </li>
          <li class="nav-item p-2 active border-right border-left">
            <a class="nav-link" href="#"><span class="material-icons align-top">search</span>
              <input class="border-0" type="text" placeholder="I'am looking for.." /></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>
<section class="bg-dark">
  <div class="">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="container">
        <div class="carousel-inner px-8">
          <div class="carousel-item active">
            <div class="bg-dark">
              <div class="row">
                <div class="col-md-6 m-auto text-white p-4">
                  <h1><b>iPhone 6 35GB Black</b></h1>
                  <p>At first, for some time, I was not able to answer him one word; but as he had taken me in his arms I held fast by him, or I should have fallen to the ground.</p>
                  <button class="btn btn-primary btn-sm br-20 p-2 px-4 my-3">BUY NOW</button>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4">
                  <img class="d-block" src="assets/banner-mobile.png" alt="First slide">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</section>
<section class="wrapper">
  <div class="container py-3">
    <div class="filters">
      <div class="row">
        <div class="col-md-3">
          <div class="d-flex justify-content-between px-1 p-2 border-right">
            <span class="pl-2 pt-1">SORT BY</span>
            <!-- <span>BEST MATCH <span class="material-icons pl-2">keyboard_arrow_down</span></span> -->
            <button class="btn btn-white btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              BEST MATCH
            </button>
          </div>
        </div>
        <div class="col-md-6 p-0">
          <div class="d-flex justify-content-between px-1 pt-2">
            <div>
              <span class="pl-2 pt-1">KEYWORDS:</span>
              <input type="text" class="filter-search" placeholder="Tablet" />
            </div>
            <div>
              <span class="pl-2 pt-1">PRICE:</span>
              <input type="text" class="filter-search" value="10" placeholder="Tablet" /> - 
              <input type="text" class="filter-search" value="1000" placeholder="Tablet" />
            </div>
            <div class="pt-1">
              <p><span class="material-icons green mr-2">check_circle</span>FREE SHIPPING</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="d-flex justify-content-between px-1 py-2 border-left">
            <span class="pl-2 pt-1">SHIP TO</span>
            <!-- <span>BEST MATCH <span class="material-icons pl-2">keyboard_arrow_down</span></span> -->
            <button class="btn btn-white btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              USA
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="wrapper">
  <div class="container py-2">
    <div class="filters-2">
      <div class="row">
        <div class="col-md-3">
          <div class="left-filters">
            <ul class="list-group br-5">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                TOP SALES
                <span class="material-icons">keyboard_arrow_down</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                BRAND FOCUS
                <span class="material-icons">keyboard_arrow_down</span>
              </li>
              <li class="list-group-item bg-light d-flex justify-content-between align-items-center">
                CELL PHONES
              </li>
              <li class="list-group-item bg-light d-flex justify-content-between align-items-center">
                CAMERAS
              </li>
              <li class="list-group-item bg-light d-flex justify-content-between align-items-center">
                COMPUTERS
              </li>
              <li class="list-group-item bg-light d-flex justify-content-between align-items-center">
                TV, AUDIO
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Hi-Tech
                <span class="material-icons">keyboard_arrow_down</span>
              </li>
            </ul>
            <ul class="list-group br-5">
              <li class="list-group-item">
                <b>AVAILABLE</b>
              </li>
              <li class="list-group-item align-items-center">
                  <div class=" d-flex justify-content-between">
                      <div class="form-check">
                          <input class="form-check-input" type="radio" name="flexRadioDefault" checked>
                          <label class="form-check-label" for="flexRadioDefault1">
                            In Storage
                          </label>
                      </div>
                      <span class="">45</span>
                  </div>
                  <div class=" d-flex justify-content-between mt-3">
                      <div class="form-check">
                          <input class="form-check-input" type="radio" name="flexRadioDefault">
                          <label class="form-check-label" for="flexRadioDefault1">
                            In Online-Shop
                          </label>
                      </div>
                      <span class="">12</span>
                  </div>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <b>BRANDS</b>
                <span class="pointer btn-link"><b>ALL</b></span>
              </li>
              <li class="list-group-item align-items-center">
                  <div class=" d-flex justify-content-between">
                      <div class="form-check">
                          <input class="form-check-input" type="checkbox" name="flexRadioDefault" checked>
                          <label class="form-check-label" for="flexRadioDefault1">
                            Apple
                          </label>
                      </div>
                      <span class="">32</span>
                  </div>
                  <div class=" d-flex justify-content-between mt-3">
                      <div class="form-check">
                          <input class="form-check-input" type="checkbox" name="flexRadioDefault">
                          <label class="form-check-label" for="flexRadioDefault1">
                            JBL
                          </label>
                      </div>
                      <span class="">14</span>
                  </div>
                  <div class=" d-flex justify-content-between mt-3">
                      <div class="form-check">
                          <input class="form-check-input" type="checkbox" name="flexRadioDefault">
                          <label class="form-check-label" for="flexRadioDefault1">
                            Nest
                          </label>
                      </div>
                      <span class="">5</span>
                  </div>
                  <div class=" d-flex justify-content-between mt-3">
                      <div class="form-check">
                          <input class="form-check-input" type="checkbox" name="flexRadioDefault">
                          <label class="form-check-label" for="flexRadioDefault1">
                            Bose
                          </label>
                      </div>
                      <span class="">3</span>
                  </div>
                  <div class=" d-flex justify-content-between mt-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="flexRadioDefault">
                        <label class="form-check-label" for="flexRadioDefault1">
                          Samsung
                        </label>
                    </div>
                    <span class="">7</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-9 pl-0">
          <div class="d-flex justify-content-between">
            <div class="card">
              <div class="single-items">
                <img src="assets/item-1.png" />
                <h4><b>Apple TV, 32 GB</b></h4>
                <p class="text-uppercase text-muted">black</p>
                <p><b>$49.99</b></p>
              </div>
            </div>
            <div class="card">
              <div class="single-items">
                <img src="assets/item-2.png" />
                <h4><b>Pebble Time</b></h4>
                <p class="text-uppercase text-muted">red</p>
                <p><b>$29.99</b></p>
              </div>
            </div>
            <div class="card">
              <div class="single-items mt-2">
                <img src="assets/item-3.png" />
                <h4><b>Zendure 4-Port USB</b></h4>
                <p class="text-uppercase text-muted">white</p>
                <p><b>$49.99</b></p>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-between mt-3">
              <div class="card">
                <div class="single-items-2 p-4 py-5">
                  <img src="assets/item-4.png" />
                  <h4><b>Withings Smart Body Analyzer ws-50</b></h4>
                  <p class="text-uppercase text-muted">Black</p>
                  <p><b>$49.99</b></p>
                </div>
              </div>
              <div class="card ml-3">
                <div class="single-items-3">
                  <p class="position-absolute">
                      <span class="badge badge-pill badge-dark p-2 px-3 m-2"><b>$49.99</b></span>
                  </p>
                  <img src="assets/item-5.png" />
                  <!-- <h2><b>Apple TV, 32 GB</b></h2> -->
                  <!-- <p>Black</p> -->
                  <div class="px-3 pt-2 d-flex justify-content-between">
                    <div class="tl">
                      <p><b>JBL Charge 2+</b></p>
                      <p class="text-uppercase text-muted">black</p>
                    </div>
                    <div class="btns">
                      <span class="btn">16 GB</span>
                      <span class="btn">BUY NOW</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="wrapper pt-3 pb-5">
  <div class="container">
    <div class="paginations">
      <div class="row">
        <div class="col-md-2 tc">
          <div class="border-right p-3">
              <span class="material-icons pointer pt-3">keyboard_arrow_left</span>
          </div>
        </div>
        <div class="col-md-8 tc">
          <nav aria-label="...">
              <ul class="pagination pagination-lg p-2 pt-3 justify-content-center">
                <li class="page-item">
                  <a class="page-link" href="#" tabindex="-1">1</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link active" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">6</a></li>
                <li class="page-item"><a class="page-link" href="#">7</a></li>
              </ul>
            </nav>
        </div>
        <div class="col-md-2 tc">
          <div class="border-left p-3">
              <span class="material-icons pointer pt-3">keyboard_arrow_right</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="wrapper pb-4">
  <div class="container">
    <div class="tc bg-white p-2 border">
      <p class="text-uppercase pt-2"><b>Best seller</b></p>
    </div>
    <div class="more-products">
        <div class="row">
          <div class="col-md-3 pr-0">
            <div class="border p-3">
              <div class="single-items">
                <img src="assets/item-6.png" />
                <h4><b>Beanie</b></h4>
                <h5 class="text-uppercase text-muted small">green</h5>
                <div class="font-weight-bold">
                  <span class="text-muted"><del>$39.99</del></span>
                  <span class="pl-3">$29.99</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 p-0">
            <div class="border p-3">
              <div class="single-items">
                <img src="assets/item-7.png" />
                <h4><b>T-Shirt With a Print</b></h4>
                <p class="text-uppercase text-muted small">dark blue</p>
                <div class="font-weight-bold">
                  <span class="text-muted"><del>$29.99</del></span>
                  <span class="pl-3">$19.99</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 p-0">
            <div class="border p-3 p-0">
              <div class="single-items">
                <img src="assets/item-8.png" />
                <h4><b>Pile-Lined Hooded Jacket</b></h4>
                <h5 class="text-uppercase text-muted small">dark blue</h5>
                <div class="font-weight-bold">
                  <span class="text-muted"><del>$49.99</del></span>
                  <span class="pl-3">$39.99</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 pl-0">
            <div class="border p-3">
              <div class="single-items">
                <img src="assets/item-9.png" />
                <h4><b>Trainers</b></h4>
                <h5 class="text-uppercase text-muted small">space grey</h5>
                <div class="font-weight-bold">
                  <span class="text-muted"><del>$39.99</del></span>
                  <span class="pl-3">$29.99</span>
                </div>
              </div>
            </div>
          </div>
            
        </div>
    </div>
  </div>
</section>

<section class="testimonials">
<div class="container">
  <div class="tc py-3">
    <h2 class="mb-2 font-weight-bolder"><b>What Our Customers Have to Say</b></h2>
    <p>Couple of Words About This Stories Section</p>
  </div>
  <div class="row mt-2">
    <div class="col-md-4">
      <div class="p-4">
        <div class="d-flex">
          <div>
            <img src="assets/user-pic-1.png" />
          </div>
          <div class="pl-2">
            <p class="mb-1"><b>Celia Fields</b></p>
            <p class="text-muted"><i>UX Expert</i></p>
          </div>
        </div>
        <p>This I have produced as a scantling of Jack’s great eloquence and the force of his reasoning upon such abstruse matters.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="p-4">
        <div class="d-flex">
          <div>
            <img src="assets/user-pic-1.png" />
          </div>
          <div class="pl-2">
            <p class="mb-1"><b>Alexander Lee</b></p>
            <p class="text-muted"><i>Founder</i></p>
          </div>
        </div>
        <p>Looking cautiously round, to ascertain that they were not overheard, the two hags cowered nearer to the fire, and chuckled heartily.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="p-4">
        <div class="d-flex">
          <div>
            <img src="assets/user-pic-1.png" />
          </div>
          <div class="pl-2">
            <p class="mb-1"><b>Lenora Sandoval</b></p>
            <p class="text-muted"><i>Product Manager</i></p>
          </div>
        </div>
        <p>This sounded a very good reason, and Alice was quite pleased to know it. 'I never thought of that before!' she said.</p>
      </div>
    </div>
  </div>
</div>
</section>

<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <img src="assets/footer-logo.png"/>
      </div>
      <div class="col-md-7">
        <div class="tc">
          <ul class="d-flex">
            <li class="">
              <a class="nav-link active" href="#">Home</a>
            </li>
            <li class="">
              <a class="nav-link text-uppercase" href="#">Shop</a>
            </li>
            <li class="">
              <a class="nav-link text-uppercase" href="#">Team</a>
            </li>
            <li class="">
              <a class="nav-link text-uppercase" href="#">About us</a>
            </li>
            <li class="">
              <a class="nav-link text-uppercase" href="#">contacts</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 tr pr-3">
        <img src="assets/social-icons.png"/>
      </div>
    </div>
    <div>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p class="text-white">She gave my mother such a turn, that I have always been convinced I am indebted to Miss Betsey for having been born on a Friday.</p>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <ul class="d-flex">
          <li class="">
            <a class="nav-link active" href="#">Privacy Policy</a>
          </li>
          <li class="">
            <a class="nav-link text-uppercase" href="#">Terms and Conditions</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
